server/.classpath
server/.gitignore
server/.project
server/.settings/
server/bin/
usuario/.classpath
usuario/.gitignore
usuario/.project
usuario/.settings/
usuario/bin/
usuario/build
usuario/gradle/
usuario/gradlew.bat

